# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
ENV/
env/
ps1/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Models - Include core artifacts for the dashboard
models/*.pkl
!models/.gitkeep

# Data - Include CSVs for research reproduction
data/*.csv
!data/.gitkeep
logs/sessions/*
logs/analytics/*
!logs/sessions/.gitkeep
!logs/analytics/.gitkeep

# data/*.csv

# Streamlit
.streamlit/*
!.streamlit/config.toml

# Distribution files
dist/
build/
*.egg-info/

# Secret files & OS junk
.env
*.log
.DS_Store
Thumbs.db
desktop.ini
